<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!doctype html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>지연이의 자기소개</title>
        <h1>나에 대해 소개해봅시다!</h1>
    </head>
    <br>

    <body>
        <ul>
            
            <img src ="https://w.namu.la/s/8ecddb54c10370f6e31a6e4e02e30a1234e54643ac8c50f1d7de7f78dc2072c7e26c29ff656698fa088f1c8ab081344958d59fe137b444beadf267d0f34071a23353005f70bd70bdcbc938a63e6dfc35aedc7f102fd581158ac1a46c21ab62f2"  height = 300  >
            <li>이름 : 유지연</li>
            <li>나이 : 22살</li>
            <li>전공 : 소프트웨어융합전공</li>
            <li>거주지 : 경기도 고양시 일산</li>
            <li>취미 : 음악감상</li>
            <li>만들고 싶은 서비스 : 첫 번째로는 지하철 커뮤니티입니다. 통학을 하면서 지하철을 타고 다니면 ‘나는 언제쯤 앉을 수 있을까, 내 앞에 앉은 사람은 언제쯤 일어날까’ 지하철을 타고 다닌다면 다들 한 번쯤 생각한 경험이 있을 것입니다. 
            <br>이러한 고민을 해결하기 위한 페이지로서, 이용 방법은 처음 로그인을 할 때 나의 출발지와 도착지를 입력하고 내가 탈 열차와 칸을 입력하면 그 칸이 내가 이동하는 동안 활동하는 공간이 되는 것입니다. 그 페이지에 들어가서 만약 자리에 내가 앉았다면 어느 줄 몇 번째 자리에 앉았는지, 손잡이를 잡고 서 있다면 어느 자리 앞 손잡이를 잡았는지를 선택합니다. 
            <br>이 페이지를 통해 언제쯤 내가 자리에 앉아서 갈 수 있을지 예측할 수 있게 되고, 나보다 늦게 탔는데 앞자리 사람이 금방 내려서 먼저 앉는 승객이 생기는 불상사를 방지할 수 있습니다. 이 기능을 제대로 구축한 후 추가기능으로 사람에게 쪽지를 보내는 기능 등을 추가한다면, 같은 학교 학생이나 같은 근무지 직장인들이 같은 역에 내려서 목적지까지 동행할 수 있는 친구를 만들 수 있을 것입니다. 
            <br>다만 이후 마음에 들지 않는 사람에게 자신의 정보가 노출되어 스토킹 등의 피해가 생길 수 있는 점은 특정인을 차단할 수 있도록 하여 출발지, 목적지 등이 나타나지 않고 쪽지가 오지 않는 기능을 통해 보완하고 싶습니다. 홍보를 통해 다양한 연령대에 확산이 된다면 대학생 어플 ‘에브리타임’이나 직장인 어플 ‘블라인드’와 같이 유용한 커뮤니티가 될 수 있을 것입니다.</li>
        </ul>

        <br><br><br>

        <form action = "전송받을 대상">
            입력받을 이름 : <input type="text" name = "name">
              지연이와의 관계 : 
            <select>
                <option value="family">가족</option>
                <option value="friend">친구</option>
                <option value="colleage">알바 동료</option>
                <option value="professor">교수님</option>
                <option value="known">지인</option>
            </select>
            <input type ="submit">
        </form>

    </body>

</html>